<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>linchat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E74884E0FD688465CEB1E6AE7FB947221565A0D0</string>
				<key>dateExpires</key>
				<string>2024/8/4</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E74884E0FD688465CEB1E6AE7FB947221565A0D0</string>
						<key>dateExpires</key>
						<string>2024/8/4</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Lottie.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X3T5CNW53T</string>
						<key>name</key>
						<string>xili wang</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X3T5CNW53T.com.zizdlp.linchat.linchat</string>
				<key>com.apple.developer.team-identifier</key>
				<string>X3T5CNW53T</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>linchat.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f730ce0f-1558-4e67-a382-05defe0b943e</string>
				<key>dateExpires</key>
				<string>2024/8/4</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.zizdlp.linchat.linchat</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X3T5CNW53T</string>
				<key>name</key>
				<string>xili wang</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
